.nav-link {
    color: black !important;
}
  
.nav-link:hover {
    color: #0e159d !important;
    cursor: pointer;
}

.nav-link.active {
    color: #F80000 !important;
}


.btn-light {
    padding:  0px 3px;
    margin-right: 3px;
    size: 30px;
}