<h3>Administración de requerimientos</h3>
<hr>
<div class="card"  *ngIf="!mostrarFormularioRequerimiento">
    <div class="card-body row">
        <div class="col-sm-2">
            <label for="contrato" class="form-label">No. contrato</label>
            <input type="text" class="form-control" id="contrato" placeholder="SG0909">
        </div>
        <div class="col-sm-2">
            <label for="consulta" class="form-label">Identificador requerimiento</label>
            <input type="text" class="form-control" id="consulta" placeholder="123">
        </div>
        <div class="col-sm-2">
            <label for="consulta" class="form-label">Nombre requerimiento</label>
            <input type="text" class="form-control" id="consulta" placeholder="Bitacora">
        </div>
        <div class="col-sm-2">
            <label for="consulta" class="form-label">Lider</label>
            <input type="text" class="form-control" id="consulta" placeholder="Joel">
        </div>
         <div class="col-sm-2">
            <button type="button" class="btn btn-principal" (click)="buscar()" style="margin-top: 26px;">Buscar</button>
        </div>
    </div>
    <div class="card-footer row" style="margin: 0px;">
        <div class="col-sm-3">
            <button type="button" class="btn btn-secundario" (click)="nuevoRequerimiento(true, null)">Nuevo requerimiento</button>
        </div>
    </div>    

</div>

<div class="card"  style="margin-top: 10px;" *ngIf="!mostrarFormularioRequerimiento">
  <div class="card-body row">
    <app-paginador [datos]="datosEnviar"></app-paginador>
    <div class="col-sm-12">
        <table class="table table-hover">
            <thead>
              <tr class="valoresCentrados">
                <th scope="col" class="valoresCentrados"><div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                </div></th>
                <th scope="col" class="valoresCentrados">Perfil</th>
                <th scope="col" class="valoresCentrados">Consultor</th>
                <!-- <th scope="col" class="valoresCentrados">Contrato</th> -->
                <th scope="col" class="valoresCentrados">JIRA o SMAX ASOCIADO / ID INCIDENTE</th>
                <th scope="col" class="valoresCentrados">Descripción Corta JIRA o SMAX/ INCIDENTE</th>
                <th scope="col" class="valoresCentrados">Lider proyecto</th>
                <th scope="col" class="valoresCentrados">Responsable</th>
                <th scope="col" class="valoresCentrados">Tipo</th>
                <th scope="col" class="valoresCentrados">Aplicativo / Módulo</th>
                <th scope="col" class="valoresCentrados">Subdirección / Gerencia</th>
                <th scope="col" class="valoresCentrados">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let dato of datosConsultoresDisponibles;let i = index"  style="cursor: pointer;"  class="valoresCentrados">
                <td><div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                </div></td>
                <td>{{dato.perfil}}</td>
                <td>{{dato.consultor}}</td>
                <!-- <td>{{dato.no_contrato}}</td> -->
                <td>{{dato.identificador_req}}</td>
                <td>{{dato.nombre_req}}</td>
                <td>{{dato.lider_tecnico}}</td>
                <td>{{dato.responsable}}</td>
                <td>{{dato.tipo_accion}}</td>
                <td>{{dato.modulo_aplicativo}}</td>
                <td>{{dato.area_sol}}</td>
                <td>   
                  <button type="button" class="btn btn-light add" title="Actualizar"  (click)="nuevoRequerimiento(false, dato)">
                    <i class="bbi bi-arrow-counterclockwise" ></i>
                  </button>
                  <button type="button" class="btn btn-light delete" title="Quitar" (click)="eliminar()"><i class="bi bi-trash3" ></i></button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div> 


<div class="row" *ngIf="mostrarFormularioRequerimiento">
  <div  class="col-sm-8">
    <div class="card" style="margin-bottom: 10px; margin-top: 10px;">
      <div class="card-body row" style="padding: 5px;">
        <div class="col-sm-3">
            <button style="margin-left: 2px;" class="btn btn-accion" title="atras" (click)="regresarInicio()" >
            <i class="bi bi-arrow-90deg-left"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="mostrarFormularioRequerimiento">
  <div class="col-sm-8">
      <div class="card" style="margin-top: 10px;">
        <div class="card-header">
          <div class="col-sm-6"> <b>Consultor(es):  </b>Manuel Antonio</div>
        </div>
        <div class="card-body row"  [formGroup]="formularioRequerimiento">
             <!-- <div class="col-sm-6">
                <label for="Correo" class="form-label">Contrato</label>
                <input type="text" class="form-control" id="identificador" placeholder="S-1066361" formControlName="no_contrato">
            </div> -->
            <div class="col-sm-6">
              <label for="lider_tecnico" class="form-label">Lider tecnico</label>
              <!-- <input type="text" class="form-control" id="lider_tecnico" placeholder=""> -->
              <input type="text" class="form-control" id="identificador" placeholder="S-1066361" formControlName="lider_tecnico">
            </div>
            <div class="col-sm-12">
              <hr>
            </div>
              <div class="col-sm-6">
                  <label for="identificador" class="form-label">JIRA o SMAX ASOCIADO / ID INCIDENTE</label>
                  <input type="text" class="form-control" id="identificador" placeholder="S-1066361" formControlName="identificador_req">
              </div>
              <div class="col-sm-6">
                  <label for="nombre" class="form-label">Descripción Corta JIRA o SMAX/ INCIDENTE</label>
                  <input type="text" class="form-control" id="nombre" placeholder="" formControlName="nombre_req">
              </div>
              <div class="col-sm-12">
                  <label for="descripcion" class="form-label">Actividad Asignada</label>
                  <textarea type="text" class="form-control" id="descripcion" formControlName="descripcion_req"></textarea>
              </div>
              <div class="col-sm-6">
                <label for="responsable" class="form-label">Responsable</label>
                <input type="text" class="form-control" id="responsable" placeholder="" formControlName="responsable">
              </div>
              <div class="col-sm-6">
                  <label for="Correo" class="form-label">Seleccione Tipo</label>
                  <select class="form-select" aria-label="Default select example" formControlName="tipo_accion">
                      <option value="">Seleccione una opción</option>
                      <option value="Administrativo">Administrativo</option>
                      <option value="Apoyo operativo">Apoyo operativo</option>
                      <option value="SMAX">SMAX</option>
                      <option value="Incidente">Incidente</option>
                    </select>
              </div>
              <div class="col-sm-6">
                  <label for="Correo" class="form-label">Seleccione Aplicativo / Módulo</label>
                  <select class="form-select" aria-label="Default select example" formControlName="modulo_aplicativo">
                      <option value="">Seleccione  una opción</option>
                      <option value="Agenda de investigacion">Agenda de investigacion</option>
                      <option value="Aplicacion movil">Aplicacion movil</option>
                      <option value="Apoyo infonavit">Apoyo infonavit</option>
                    </select>
              </div>
              <div class="col-sm-6">
                <label for="Correo" class="form-label">Seleccione eSubdirección / Gerencia</label>
                <select class="form-select" aria-label="Default select example" formControlName="area_sol">
                    <option value="">Seleccione  una opción</option>
                    <option value="Direccion de informatica">Direccion de informatica</option>
                    <option value="Subdireccion de sistemas">Subdireccion de sistemas</option>
                    <option value="Area de recursos humanos">Area de recursos humanos</option>
                  </select>
            </div>
          </div> 
        <div class="card-footer">
          <div class="text-end" style="margin: 0px; padding: 0px;">
            <button style="margin-left: 2px;" class="btn btn-principal"  title="Guardar" (click)="guardarRequerimiento()">
              <i class="bi bi-floppy"></i>  Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
