<h3>Administración equipos de  trabajo</h3>
<hr>
<div class="card">
    <div class="card-body row">
        <div class="col-sm-3">
            <label for="contrato" class="form-label">No. contrato</label>
            <input type="text" class="form-control" id="contrato" placeholder="SG0909">
        </div>
        <div class="col-sm-3">
            <label for="consulta" class="form-label">Consultora</label>
            <input type="text" class="form-control" id="consulta" placeholder="ultra">
        </div>
        <div class="col-sm-3">
            <label for="consulta" class="form-label">Lider</label>
            <input type="text" class="form-control" id="consulta" placeholder="ultra">
        </div>
         <div class="col-sm-3">
            <button type="button" class="btn btn-principal" style="margin-top: 26px;">Buscar</button>
        </div>
    </div>
    <div class="card-footer row" style="margin: 0px;">
        <div class="col-sm-3">
            <button type="button" class="btn btn-secundario"  (click)="abrirModal()">Nuevo Equipo</button>
        </div>
    </div>
</div>

<div class="card"  style="margin-top: 10px;">
  <div class="card-body row">
    <app-paginador (cambio)="obtenerEvento($event)" [datos]="datos1"></app-paginador>
    <div class="col-sm-12">
        <table class="table table-hover">
            <thead>
              <tr class="valoresCentrados">
                <th scope="col" class="valoresCentrados">No. Contrato</th>
                <th scope="col" class="valoresCentrados">Liber tecnico</th>
                <th scope="col" class="valoresCentrados">Consultora</th>
                <th scope="col" class="valoresCentrados">Resposable</th>
                <th scope="col" class="valoresCentrados">Total integrantes</th>
                <th scope="col" class="valoresCentrados">Estatus</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let dato of datos1;let i = index"  style="cursor: pointer;"  class="valoresCentrados" (click)="abrirModal()">
                <td>{{dato.no_contrato}}</td>
                <td>{{dato.lider_texnico}}</td>
                <td>{{dato.consultora}}</td>
                <td>{{dato.responsable}}</td>
                <td>{{dato.total_integrantes}}</td>
                <td>Activo</td>
              </tr>
            </tbody>
          </table>
    </div>

  </div>
</div>

<div class="row" *ngIf="mostrarConsultores">
  <div class="col-sm-12">
    <div class="card" style="margin-bottom: 10px;">
      <div class="card-body row" style="padding: 5px;">
        <div class="col-sm-3">
          <button style="margin-left: 2px;" class="btn btn-accion" title="atras" (click)="regresar()">
            <i class="bi bi-arrow-90deg-left"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="mostrarConsultores">
  <div class="col-sm-6">
      <div class="card" style="margin-top: 10px;">
          <div class="card-header">

          </div>
          <div class="card-body row">
            <!-- <div class="col-sm-6">
                <label for="Correo" class="form-label">Contrato</label>
                <app-buscador></app-buscador>
            </div>
            <div class="col-sm-6">
                <label for="Correo" class="form-label">Lider tecnico</label>
                <app-buscador></app-buscador>
            </div> -->
            <div class="col-sm-12">
                <app-separador-texto [texto]="'Consultores integrantes del equipo'"></app-separador-texto>
            </div>
            <!-- <div class="col-sm-12">
                <h5>Integrantes del equipo</h5>
            </div> -->
            <div class="col-sm-3">
                <label for="consulta" class="form-label">Consultor</label>
                <input type="text" class="form-control" id="consulta" placeholder="Nombre">
            </div>
            <div class="col-sm-3">
                <label for="consulta" class="form-label">Perfil</label>
                <input type="text" class="form-control" id="consulta" placeholder="Programador">
            </div>
            <div class="col-sm-3">
                <button style="margin-left: 2px;" class="btn btn-accion" style="margin-top: 30px;">
                    <i class="bi bi-search"></i>&nbsp;Buscar</button>
            </div>
            <div class="col-sm-12">
                <hr>
            </div>
            <div class="row">
                <app-paginador (cambio)="obtenerEvento($event)"></app-paginador>
                <div class="col-sm-12">
                    <table class="table table-hover">
                        <thead>
                          <tr class="valoresCentrados">
                            <th scope="col" class="valoresCentrados">Consultor</th>
                            <th scope="col" class="valoresCentrados">Perfil</th>
                            <th scope="col" class="valoresCentrados">Fecha inicio</th>
                            <th scope="col" class="valoresCentrados">Fecha termino</th>
                            <th scope="col" class="valoresCentrados">Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr  *ngFor="let dato of datosConsultores;let i = index"  style="cursor: pointer;"  class="valoresCentrados" (click)="abrirModal()">
                            <td>{{dato.consultor}}</td>
                            <td>{{dato.perfil}}</td>
                            <td>{{dato.fecha_inicio}}</td>
                            <td>-</td>
                            <td>
                                <button type="button" class="btn btn-light delete" title="Quitar" ><i class="bi bi-trash3" ></i></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div> 
    </div>
</div>
  <div class="col-sm-6">
    <div class="card" style="margin-top: 10px;">
        <div class="card-header">

        </div>
        <div class="card-body row">
          <div class="col-sm-12">
            <app-separador-texto [texto]="'Consultores disponibles'"></app-separador-texto>
          </div>
          <div class="col-sm-3">
              <label for="consulta" class="form-label">Consultor</label>
              <input type="text" class="form-control" id="consulta" placeholder="Nombre">
          </div>
          <div class="col-sm-3">
              <label for="consulta" class="form-label">Perfil</label>
              <input type="text" class="form-control" id="consulta" placeholder="Programador">
          </div>
          <div class="col-sm-3">
              <button style="margin-left: 2px;" class="btn btn-accion"   style="margin-top: 30px;">
                  <i class="bi bi-search"></i>&nbsp;Buscar</button>
          </div>
          <div class="col-sm-12">
              <hr>
          </div>
       
        <div class="row">
          <app-paginador (cambio)="obtenerEvento($event)"></app-paginador>
          <div class="col-sm-12">
              <table class="table table-hover">
                  <thead>
                    <tr class="valoresCentrados">
                      <th scope="col" class="valoresCentrados">Consultor</th>
                      <th scope="col" class="valoresCentrados">Perfil</th>
                      <th scope="col" class="valoresCentrados">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr  *ngFor="let dato of datosConsultoresDisponibles;let i = index"  style="cursor: pointer;"  class="valoresCentrados" (click)="abrirModal()">
                      <td>{{dato.consultor}}</td>
                      <td>{{dato.perfil}}</td>
                      <td>
                          <button type="button" class="btn btn-light add" title="Agregar" ><i class="bi bi-person-plus"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
          </div>
        </div>
      </div>
   </div>
</div>
</div>




