.header-container {
  width: 100%;
}

.header-content {
  display: flex;
  background-color: #f7f7f7;
  height: 68px;
  align-items: center;

  margin: 0px 12px;
}

.imagen-logo-infonavit {
  width: 72px;
  height: 50px;

  margin: 0px 8px;
}

.menu {
  display: flex;
  gap: 8px;
}
