.col-sm-3 > label{
    font-weight: 400;
    font-size: 14px;
}

tr{
    text-align: center;
}

td{
    vertical-align: middle;
    cursor: pointer;
}

.nav{
    --bs-nav-link-color: black ;
    cursor: pointer;
}

.titulo-accordion{
    display: flex;
}

.accordion-button{
    gap: 20px;   
}

.accordion-body > .card-body{
    
    padding: 0px;
}

.titulo-accordion{
    text-align: center;
}

.accordion-collapse{
    cursor: pointer;
}

.card-periodo:hover{
    background-color: rgb(228, 228, 228);
}
