.container {
    position: relative;
    display: inline-block;
    padding: 0px;
  }

  
.border {
    background-color: white;
    border: 1px solid #000;
    padding: 2px;
    border-radius: 3%;
    position: absolute;
    text-align: center;
    width: 90%;
    max-height: 300px;
    margin-top: 0px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    z-index: 999;
    overflow-y: auto;  /* Habilita el desplazamiento vertical */
  }

  .clasetr {
    cursor: pointer;
  }