<div class="min-h-screen flex items-center justify-center bg-background">
  <div class="bg-white shadow-lg rounded-lg p-8 max-w-md w-full">
    <a class="padre" href="#">
      <img src="../../../assets/imagenes/Logo_INFONAVIT.svg.png" style="text-align: center;" alt="Logo" style="height: 100px;">
    </a>
    <form>
      <div class="col-md-6 centrar-form">
        <label for="correo">Correo Electrónico</label>
        <input type="text" class="form-control" id="correo" placeholder="Introducir el correo Electrónico">
      </div>
      <div class="col-md-6 centrar-form">
        <label for="contraseña">Contraseña</label>
        <input type="text" class="form-control" id="contraseña" placeholder="Introducir la contraseña">
        <a class="col-md-6 centrar-form"> ¿Recuperar Contraseña?</a>
      </div>


      <div>
      <button type="button" class="btn btn-outline-danger mb-2 btn" routerLink="/content/lidertecnico/bitacora">Iniciar Sesion</button>
        <!--<a class="nav-link centrar-form" routerLink="/content/usuarios" >¿No tienes cuenta?<a href=""> Registrar</a></a>-->

    </div>
    </form>
  </div>
</div>
