
/*Estilos del contenido prinicpal*/
.input-container{
    display: flex;
    gap: 20px;

}

tr{
    text-align: center;
}

td{
    vertical-align: middle;
}


.registro{
    cursor: pointer;
}

.col-sm-3 > label{
    font-weight: 400;
    font-size: 14px;
}

.title-container{
    background-color: #EBEBEB;
}

.container{
    display: grid;
    gap: 20px 0px;
}


/* Estilos del filtro de estados */

.nav{
    --bs-nav-link-color: black ;
}

.nav-link{
    cursor: pointer;
}

.nav-underline .nav-link.active, .nav-underline .show>.nav-link {
    font-weight: 700;
    color: #f80000;
    border-bottom-color: currentcolor;
}

.contenedor-estados{
    display: flex;
}

.contenedor-btn{
    margin-left: auto;
}


/* Estilos del offcanvas*/
.contenedor-observaciones{
    margin-bottom: 8px;
}

textarea{
    resize: none;
}


.contenedor-boton-enviar{
    display: flex;
    justify-content: right;
    gap: 8px 8px;
}

.contenedor-boton-enviar button:first-child{
    background-color: rgb(66, 72, 186);
}

.contenedor-boton-enviar button:first-child:hover{
    background-color:white;
    color:  rgb(66, 72, 186);
    border-color:  rgb(66, 72, 186);
}

.btn-modal{
    width: 100%;
}

.contenedor-evidencias{
    margin-top: 8px;
    border: 1px solid red;

    width: 100%;
    height: 100px;
}

.evidencias{
    border: 1px solid rgb(189, 189, 189);
    height: 80px;
}

.contenedor-evidencias-observaciones{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
}

.textarea{
    resize: none;
}

.label-evidencias{
    text-align: left;
}

/* Estilos del accordion */

.contenedor-accordion{
    padding: 16px 0px;
}

.titulo-accordion{
    display: flex;
    gap: 4px;
}

.titulo{
    font-size: 16px;
    font-weight: 500;
}

.titulo-accordion > p {
    margin: 0px;
    
}

.accordion-header{
    display: flex;
}

.contenedor-btn{
    display: flex;
    justify-content: center;  
    align-items: center; 

    margin: 0px 12px;
}

/* Estilos del header y su descripción */

.datos-titulo-proyecto{
    display: flex;
    gap: 4px;
}

.bi{
    cursor: pointer;
}

.bi:hover{
    color: red;
}

.contenedor-datos-proyecto{
    display: flex;
    flex-direction: column;

    margin-top: 16px;

}

.datos-proyecto{
    font-weight: 500;
}

.datos{
    display: flex;
    gap: 4px;
}

.titulo-proyecto{
    font-size: 20px;
    font-weight: 500;
}

.titulo-proyecto, .datos > p {
    margin: 0;
}

.icon-100 { 
    font-size: 24px;
    font-weight: 500; 
}

.header{
    display: flex;
    gap: 8px;
}

.contenedor-periodo{
    display: flex;
    gap: 4px
}

.periodo{
    font-weight: 500;
}

.contenedor-accordion {
    width: 100%;
  }

  .contenedor-tabla {
    overflow-x: auto; 
  }
  @media (max-width: 730px) {
    .contenedor-accordion {
        width: 100vw; 
        box-sizing: border-box; 
      }
      
      .contenedor-tabla {
        width: 100vw;
      }
    
      .accordion-item {
        width: 100vw;
      }
  }