<div class="h3">
  <h3>Autorización de bitácoras</h3>
</div>
<hr>
<div class="input-container">
    <div class="card-body row">
        
        <div class="col-sm-3">
            <label for="Correo" class="form-label">Nombre del consultor</label>
            <input type="text" class="form-control" placeholder="Luis Eduardo Antes Villa" aria-describedby="basic-addon1">
        </div>
        <div class="col-sm-3 button-buscar">
            <button type="button" class="btn btn-principal" style="margin-top: 26px;">Buscar</button>
        </div>
    </div>
</div>
<hr>
<div class="col-sm-12" style="margin-bottom: 3px;">
  <ul class="nav nav-underline">
      <li class="nav-item" *ngFor="let item of listadoEstatus">
          <a class="nav-link" [ngClass]="item.class" aria-current="page">{{item.nombre}}<span class="badge text-bg-light text">{{item.total}}</span></a>
      </li>
  </ul>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Folio</th>
                <th scope="col">Consultor</th>
                <th scope="col">Líder</th>
                <th scope="col">Proyecto</th>
                <th scope="col">Descripción de actividad</th>
                <th scope="col">Horas trabajadas</th>
                <th scope="col">Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr class="rows" *ngFor="let persona of personas" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <td>{{persona.folio}}</td>
                <td>{{persona.consultor}}</td>
                <td>{{persona.lider}}</td>
                <td>{{persona.proyecto}}</td>
                <td>{{persona.actividad}}</td>
                <td>{{persona.horas}}</td>
                <td>{{persona.fecha}}</td>
              </tr>
                
            </tbody> 
          </table>
    </div>
  

</div>


<!-- offCanvas para visualizar datos del registro seleccionado y hacer observaciones, de parte del líder técnico -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h3>Detalles</h3>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form>
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <input type="text" class="form-control input-grid" placeholder="Luis Eduardo Antes Villa" aria-describedby="basic-addon1" disabled>
          </div>
          <div class="col">
            <input type="text" class="form-control input-grid" placeholder="Luis Eduardo Antes Villa" aria-describedby="basic-addon1" disabled>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control input-grid" placeholder="Luis Eduardo Antes Villa" aria-describedby="basic-addon1" disabled>
          </div>
          <div class="col">
            <input type="text" class="form-control input-grid" placeholder="Luis Eduardo Antes Villa" aria-describedby="basic-addon1" disabled>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control input-grid" placeholder="Luis Eduardo Antes Villa" aria-describedby="basic-addon1" disabled>
          </div>
          <div class="col">
            <input type="text" class="form-control input-grid" placeholder="Luis Eduardo Antes Villa" aria-describedby="basic-addon1" disabled>
          </div>
        </div>

        
      
        <div class="row ">
          <label class="label-evidencias">Evidencias</label>
          <div class="evidencias">
            
          </div>

        </div>

        <div class="row">
          <label class="label-observaciones">Observaciones</label>
          <textarea class="form-control textarea" aria-label="With textarea"></textarea>
        </div>  
        <div class="contenedor-boton-guardar"> 
          <button type="button" class="btn btn-principal">Enviar</button>
        </div>
      </div>
     


    </form>
  </div>
</div>

<!-- cambioSeleccion(id: number) {
  this.seleccionado = id;
  this.listadoEstatus.forEach((element) => {
    if (element.id == id) {
      element.activo = true;
    } else {
      element.activo = false;
    }
  });

  this.listaActividadesFiltro = this.listaActividades.filter(
    (actividad) => actividad.estatus === this.seleccionado
  );
} -->


