<div class="h3">
  <h3>Autorización de bitácoras</h3>
</div>
<hr>
<div class="input-container">
    <div class="card-body row">
        
        <div class="col-sm-3">
            <label class="form-label">Nombre del consultor</label>
            <input type="text" class="form-control" placeholder="Luis Eduardo Antes Villa" [(ngModel)]="inputValue" (change)="onInputChange($event)" aria-describedby="basic-addon1">
        </div>
        <div class="col-sm-3 button-buscar">
            <button type="button" class="btn btn-principal" style="margin-top: 26px;">Buscar</button>
        </div>
    </div>
</div>
<hr>
<div class="col-sm-12" style="margin-bottom: 3px;">
  <ul class="nav nav-underline">
      <li class="nav-item" *ngFor="let item of listadoEstatus">
          <a class="nav-link" [ngClass]="item.class" aria-current="page">{{item.nombre}}<span class="badge text-bg-light text">{{item.total}}</span></a>
      </li>
  </ul>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Folio</th>
                <th scope="col">Consultor</th>
                <th scope="col">Líder</th>
                <th scope="col">Proyecto</th>
                <th scope="col">Descripción de actividad</th>
                <th scope="col">Horas trabajadas</th>
                <th scope="col">Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr class="rows" *ngFor="let actividad of actividadesFiltradas" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <td class="registro">{{actividad.folio}}</td>
                <td class="registro">{{actividad.consultor}}</td>
                <td class="registro">{{actividad.lider}}</td>
                <td class="registro">{{actividad.proyecto}}</td>
                <td class="registro">{{actividad.actividad}}</td>
                <td class="registro">{{actividad.horas}}</td>
                <td class="registro">{{actividad.fecha}}</td>
              </tr>
            </tbody> 
          </table>
    </div>
  

</div>

<div class="offcanvas offcanvas-end canvasPrimario" id="offcanvasRight"  aria-labelledby="offcanvasRightLabel" style="padding: 12px;">
  <div class="offcanvas-header">
    <h3>Detalles</h3>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    
    <div class="card">
        <div class="card-body row">
          <div class="col-sm-6">
              <label for="Correo" class="form-label">Detalles de actividad</label>
          </div>
          <div class="col-sm-12">
            <hr>
          </div>
          <div class="col-sm-6">
            <label for="identificador" class="form-label">Identificador del requerimiento</label>
            <input type="text" class="form-control"value="S-1066361" disabled>
          </div>
          <div class="col-sm-6">
            <label for="nombre" class="form-label">Subdireccion/Generencia</label>
            <input type="text" class="form-control"  value="Jorge Missael López Gutiérrez" disabled>
          </div>
          <div class="col-sm-6">
              <label for="Correo" class="form-label">Proyecto</label>
              <input type="text" class="form-control"value="Continuidad operativa" disabled>
          </div>
          <div class="col-sm-6">
            <label for="responsable" class="form-label">Líder</label>
            <input type="text" class="form-control"value="Luis Eduardo Antes Villa" disabled>
          </div>
          <div class="col-sm-6">
            <label for="lider_tecnico" class="form-label">Responsable</label>
            <input type="text" class="form-control"  value="Daniel Herrera Figueroa" disabled>
          </div>
          <div class="col-sm-6">
            <label for="nombre" class="form-label">Tipo de acción</label>
            <input type="text" class="form-control"value="Desarrollo del sistema" disabled>
          </div>
          <div class="col-sm-6">
              <label for="Correo" class="form-label">Modulo o aplicativo</label>
              <input type="text" class="form-control" value="SMAX" disabled>
          </div>
          <div class="col-sm-6">
            <label for="Correo" class="form-label">Area solicitante</label>
            <input type="text" class="form-control" value="Dirección informática" disabled>
          </div>
          <div class="col-sm-6">
            <label for="consultoires" class="form-label">Actividad asignada</label>
            <input type="text" class="form-control" value="Revisión de requerimientos" id="nombre" disabled>
          </div>
          <div class="col-sm-6">
            <label for="consultoires" class="form-label">Horas requeridas</label>
            <input type="number" class="form-control" value="8" id="nombre" disabled>
          </div>
          <div class="col-sm-12">
            <label for="consultoires" class="form-label">Actividad realizada</label>
            <textarea class="form-control" aria-label="With textarea" disabled>Elaboración de prototipos de las pantallas Dar de baja/reasignación y ajustes de componentes del prototipo de la pantalla Contratos</textarea>
          </div>
          <div class="col-sm-12">
            <label for="formFileMultiple" class="form-label">Evidencia de actividades</label>
            <input class="form-control" type="file" id="formFileMultiple" multiple>
          </div>
          
        </div> 
    </div>

    <div class="contenedor-evidencias-observaciones">
      <div class="contenedor-observaciones">
        <label class="label-observaciones">Observaciones</label>
        <textarea class="form-control textarea" aria-label="With textarea"></textarea>
      </div>  
    </div>
    <div class="contenedor-boton-enviar"> 
      <button type="button" class="btn btn-principal btn-modal">Autorizar</button>
      <button type="button" class="btn btn-principal btn-modal">Enviar observación</button>
    </div>
</div>

