
/*Estilos del contenido prinicpal*/
.input-container{
    display: flex;
    gap: 20px;

}

tr{
    text-align: center;
}

td{
    vertical-align: middle;
}


.registro{
    cursor: pointer;
}

.col-sm-3 > label{
    font-weight: 400;
    font-size: 14px;
}

.title-container{
    background-color: #EBEBEB;
}

.container{
    display: grid;
    gap: 20px 0px;
}

.contenedor-observaciones{
    margin-bottom: 8px;
}

textarea{
    resize: none;
}

/* Estilos del filtro de estados */

.nav{
    --bs-nav-link-color: black ;
}

.nav-link{
    cursor: pointer;
}

.ejecucion{
    --bs-nav-link-hover-color: red;
}

.revision{
    --bs-nav-link-hover-color: orange;
}

.autorizacion{
    --bs-nav-link-hover-color: rgb(128, 255, 0);
}

.finalizado{
    --bs-nav-link-hover-color: green;
}

.rechazado{
    --bs-nav-link-hover-color: rgb(0, 0, 0);
}

.contenedor-evidencias{
    margin-top: 8px;
}

/* Estilos del offcanvas*/
.contenedor-boton-enviar{

    display: flex;
    justify-content: right;
    gap: 8px 8px;
}

.contenedor-boton-enviar button:first-child{
    background-color: rgb(66, 72, 186);
}

.contenedor-boton-enviar button:first-child:hover{
    background-color:white;
    color:  rgb(66, 72, 186);
    border-color:  rgb(66, 72, 186);
}

.btn-modal{
    width: 100%;
}

.evidencias{
    border: 1px solid rgb(189, 189, 189);
    height: 80px;
}

.contenedor-evidencias-observaciones{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
}

.textarea{
    resize: none;
}

.label-evidencias{
    text-align: left;
}

