.contenedor-filtro-botones {
  display: flex;
}

.contenedor-botones {
  display: flex;
  align-content: flex-end;
}
.btn-registro-actividad,
.btn-observacion-periodo {
  margin-top: 30px !important;
}
