<h3>Contol de contratos</h3>
<hr>
<div class="card" *ngIf="!mostrarFormContrato">
    <div class="card-body row">
        <div class="col-sm-3">
            <label for="contrato" class="form-label">No. contrato</label>
            <input type="text" class="form-control" id="contrato" placeholder="SG0909">
        </div>
        <div class="col-sm-3">
            <label for="consulta" class="form-label">Consultora</label>
            <input type="text" class="form-control" id="consulta" placeholder="ultra">
        </div>
         <div class="col-sm-3">
            <button type="button" class="btn btn-principal" (click)="buscarContratos()" style="margin-top: 30px;" title="Buscar"><i class="bi bi-search"></i></button>
        </div>
    </div>
    <div class="card-footer row" style="margin: 0px;">
        <div class="col-sm-3">
            <button type="button" class="btn btn-accion" (click)="mostrarFormularioContrato(true, null)" title="Nuevo contrato"><i class="bi bi-plus-lg"></i></button>
        </div>
    </div>
</div>

<div class="card" *ngIf="!mostrarFormContrato" style="margin-top: 10px;">
  <div class="card-body row">
    <app-paginador (cambio)="obtenerEvento($event)" [datos]="datosEnviar"></app-paginador>
    <div class="col-sm-12">
        <table class="table table-hover">
            <thead>
              <tr class="valoresCentrados">
                <th scope="col" class="valoresCentrados">No. Contrato</th>
                <th scope="col" class="valoresCentrados">Fecha inicio</th>
                <th scope="col" class="valoresCentrados">Fecha termino</th>
                <th scope="col" class="valoresCentrados">Monto</th>
                <th scope="col" class="valoresCentrados">Consultora</th>
                <th scope="col" class="valoresCentrados">Metodo de pago</th>
                <th scope="col" class="valoresCentrados">Forma pago</th>
                <th scope="col" class="valoresCentrados">Estatus</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let dato of datosEnviar;let i = index"  style="cursor: pointer;"  (click)="mostrarFormularioContrato(false, dato)" class="valoresCentrados">
                <td>{{dato.no_contrato}}</td>
                <td>{{dato.fecha_inicio}}</td>
                <td>{{dato.fecha_termino}}</td>
                <td>{{dato.monto}}</td>
                <td>{{dato.consultora}}</td>
                <td>{{dato.metodo_pago}}</td>
                <td>{{dato.formapago}}</td>
                <td>Activo</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>

<div class="row" *ngIf="mostrarFormContrato">
  <div [ngClass]="contratoGuardado? 'col-sm-12' : 'col-sm-8'">
    <div class="card" style="margin-bottom: 10px;">
      <div class="card-body row" style="padding: 5px;">
        <div class="col-sm-3">
          <button style="margin-left: 2px;" class="btn btn-accion" title="atras" (click)="regresar()">
            <i class="bi bi-arrow-90deg-left"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="mostrarFormContrato">
  <div class="col-sm-6" [ngClass]="contratoGuardado? 'col-sm-6' : 'col-sm-8'">
      <div class="card">
          <div class="card-body row" [formGroup]="formularioContrato">
            <div class="col-sm-12">
              <app-separador-texto [texto]="'Datos del contrato'"></app-separador-texto>
            </div>
            <div class="col-sm-6">
                <label for="Correo" class="form-label">No.contrato</label>
                <input type="text" class="form-control" id="Correo" placeholder=""  formControlName="no_contrato">
                
            </div>
            <br>
            <div class="col-sm-6">
                <label for="Correo" class="form-label">Fecha de inicio</label>
                <app-input-fecha [setFecha]="formularioContrato.controls['fecha_inicio'].value"  (valor)="recibeValorFechaInicio($event)" ></app-input-fecha>
            </div>
            <div class="col-sm-6">
                <label for="Correo" class="form-label">Fecha de termino</label>
                <app-input-fecha [setFecha]="formularioContrato.controls['fecha_termino'].value"  (valor)="recibeValorFechaTermino($event)"></app-input-fecha>
            </div>
            <div class="col-sm-6">
                <label for="Correo" class="form-label">Seleccione forma de pago</label>
                <select class="form-select" aria-label="Default select example" formControlName="formapago">
                    <option value="">Seleccione  una opción</option>
                    <option value="Mensual">Mensual</option>
                    <option value="Bimestral">Bimestral</option>
                    <option value="Trimestral">Trimestral</option>
                    <option value="Anual">Anual</option>
                  </select>
            </div>
            <div class="col-sm-6">
                <label for="Correo" class="form-label">Seleccione tipo de contrato</label>
                <select class="form-select" aria-label="Default select example" formControlName="metodo_pago">
                    <option value="">Seleccione  una opción</option>
                    <option value="Monto fijo">Monto fijo</option>
                    <option value="Monto variable">Monto variable</option>
                  </select>
            </div>
            <div class="col-sm-6">
              <label for="Correo" class="form-label">Capture o selecione a la consultora</label>
              <input type="text" class="form-control" id="Correo" placeholder="" formControlName="consultora">
              <!-- <app-buscador></app-buscador> -->
            </div>
            <div class="col-sm-6">
              <label for="Correo" class="form-label">No. consultores requeridos</label>
              <input type="text" class="form-control" id="Correo" placeholder="" formControlName="cantidad">
            </div>
            <div class="col-sm-6">
                <label for="monto" class="form-label">Monto variable</label>
                <input type="text" class="form-control" id="monto" placeholder="">
            </div>
            <div class="col-sm-6">
                <label for="monto" class="form-label">Monto fijo</label>
                <input type="text" class="form-control" id="monto" placeholder="">
            </div>
            <div class="col-sm-6">
                <label for="monto" class="form-label">Monto total</label>
                <input type="text" class="form-control" id="monto" placeholder=""  formControlName="monto">
            </div>
            <div class="col-sm-12">
                <label for="formFileMultiple" class="form-label">Carga de contrato</label>
                <input class="form-control" type="file" id="formFileMultiple" multiple>
            </div>

            <div class="col-sm-6">
              <label for="monto" class="form-label">Direccion/subdireccion</label>
              <input type="text" class="form-control" id="monto" placeholder=""  >
            </div>

            <div class="col-sm-6">
              <label for="monto" class="form-label">Gerente</label>
              <input type="text" class="form-control" id="monto" placeholder=""  >
          </div>
          </div>
          <div class="card-footer row" style="margin: 0px;">
            <div class="text-end" style="margin: 0px; padding: 0px;">
              <button style="margin-left: 2px;" class="btn btn-principal" (click)="guardarContrato()"  title="Guardar">
                <i class="bi bi-floppy"></i>
              </button>
            </div>
          </div>
      </div>
  </div>
  <div class="col-sm-6"  *ngIf="contratoGuardado">
    <div class="card">
      <div class="card-header row" style="margin: 0px;">
        <div class="col-sm-3">
          <button style="margin-left: 2px;" class="btn btn-accion" (click)="mostrarForumarioCargaPerfil(true, null)">
            <i class="bi bi-plus-circle-dotted"></i>&nbsp;Agregar perfil</button>
        </div>
      </div>
      <div class="card-body row" *ngIf="!mostrarAgregarPerfil">
        <div class="col-sm-12">
          <app-separador-texto [texto]="'Perfiles registrados en el contrato'"></app-separador-texto>
        </div>
        <app-paginador (cambio)="obtenerEvento($event)" [datos]="datosEnviar"></app-paginador>
        <div class="col-sm-12">
            <table class="table table-hover">
                <thead>
                  <tr class="valoresCentrados">
                    <th scope="col" class="valoresCentrados">Perfil</th>
                    <th scope="col" class="valoresCentrados">Cantidad</th>
                    <th scope="col" class="valoresCentrados">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr  *ngFor="let dato of datosPefil;let i = index" class="valoresCentrados">
                    <td>{{dato.perfil}}</td>
                    <td>{{dato.cantidad}}</td>
                    <td>
                      <button type="button" class="btn btn-light add" title="Actualizar perfil" (click)="mostrarForumarioCargaPerfil(false, dato)">
                        <i class="bi bi-arrow-counterclockwise"></i>
                      </button>
                      <button type="button" class="btn btn-light delete" title="Quitar perfil" (click)="eliminarPerfil()"><i class="bi bi-trash3" ></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
      <div class="card-body row" *ngIf="mostrarAgregarPerfil"  [formGroup]="formularioPerfil">
          <div class="col-sm-12">
            <app-separador-texto [texto]="'Datos del perfil'"></app-separador-texto>
          </div>
          <div class="col-sm-6">
              <label for="identificador" class="form-label">Perfil</label>
              <input type="text" class="form-control" id="consulta" placeholder="Programador analista" formControlName="perfil">
          </div>
          <div class="col-sm-6">
            <label for="monto" class="form-label">Monto</label>
            <input type="text" class="form-control" id="monto" placeholder="10,000" formControlName="monto">
          </div>
          <div class="col-sm-12">
            <label for="descripcion" class="form-label">Descripcion</label>
            <textarea type="text" class="form-control" id="descripcion" placeholder="Descripcion" formControlName="desc"></textarea>
          </div>
          <div class="col-sm-6">
            <label for="monto" class="form-label">Camtidad</label>
            <input type="text" class="form-control" id="monto" placeholder="1" formControlName="cantidad">
          </div>
      </div>
      <div class="card-footer row" style="margin: 0px;" *ngIf="mostrarAgregarPerfil">
        <div class="text-end" style="margin: 0px; padding: 0px;">
          <button style="margin-left: 2px;" class="btn btn-principal"  title="Guardar" (click)="guardarPerfil()">
            <i class="bi bi-floppy"></i> Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


