<h3>Permisos
</h3>
<hr>
<div class="row">
  <div class="col-sm-12">
      <table class="table table-hover">
          <thead>
            <tr class="valoresCentrados">
              <th scope="col" class="valoresCentrados">#</th>
              <th scope="col" class="valoresCentrados">Rol</th>
              <th scope="col" class="valoresCentrados">Estatus</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let dato of datosPermisos;let i = index"  style="cursor: pointer;"  (click)="abrirModal()" class="valoresCentrados">
              <th scope="row">{{i+1}}</th>
              <td>{{dato.roles}}</td>
              <td>Activo</td>
            </tr>
          </tbody>
        </table>
  </div>
</div>



<div class="offcanvas offcanvas-end canvasPrimario" [class.show]="showCamvasPrimario" id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel" style="padding-left: 0px; width: 52%;">
  <div class="offcanvas-header">
    <h3>{{tituloPrimario}}</h3>
    <button type="button" class="btn btn-principal ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"
      (click)="cerrarCamvasPrimario()"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
  </div>
  <div class="offcanvas-body">
    <div class="card">
        <div class="card-body row">
          <table class="table table-hover">
            <thead>
              <tr class="valoresCentrados">
                <th scope="col" class="valoresCentrados">Menu</th>
                <th scope="col" class="valoresCentrados">Descripcion</th>
                <th scope="col" class="valoresCentrados">Ver</th>
                <th scope="col" class="valoresCentrados">Alta</th>
                <th scope="col" class="valoresCentrados">Baja</th>
                <th scope="col" class="valoresCentrados">Cambio</th>
                <th scope="col" class="valoresCentrados">Descarga</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let dato of datosPermisos2;let i = index"  style="cursor: pointer;"  (click)="abrirModal()" class="valoresCentrados">
                
                <td>{{dato.menu}}</td>
                <td>{{dato.descripcion}}</td>
                <td *ngIf="dato.permisos1" class="valoresCentrados">{{dato.asignarPermisos}}</td><td *ngIf="!dato.permisos1" class="valoresCentrados"><button type="button" class="btn btn-secundario" title="Registrar Permisos" (click)="marcarPermisos(dato, 1)" >Asignar</button></td>
                <td *ngIf="dato.permisos2" class="valoresCentrados">{{dato.asignarPermisos}}</td><td *ngIf="!dato.permisos2" class="valoresCentrados"><button type="button" class="btn btn-secundario" title="Registrar Permisos" (click)="marcarPermisos(dato, 2)" >Asignar</button></td>
                <td *ngIf="dato.permisos3" class="valoresCentrados">{{dato.asignarPermisos}}</td><td *ngIf="!dato.permisos3" class="valoresCentrados"><button type="button" class="btn btn-secundario" title="Registrar Permisos" (click)="marcarPermisos(dato, 3)" >Asignar</button></td>
                <td *ngIf="dato.permisos4" class="valoresCentrados">{{dato.asignarPermisos}}</td><td *ngIf="!dato.permisos4" class="valoresCentrados"><button type="button" class="btn btn-secundario" title="Registrar Permisos" (click)="marcarPermisos(dato, 4)" >Asignar</button></td>
                <td *ngIf="dato.permisos5" class="valoresCentrados">{{dato.asignarPermisos}}</td><td *ngIf="!dato.permisos5" class="valoresCentrados"><button type="button" class="btn btn-secundario" title="Registrar Permisos" (click)="marcarPermisos(dato, 5)" >Asignar</button></td>
              </tr>
            </tbody>
          </table>
        </div>

    </div>
  </div>
  <div class="offcanvas-footer">
    <div class="text-end">
      <button style="margin-left: 2px;" class="btn btn-principal" (click)="guardar()"> Guardar &nbsp;<em
          class="bi bi-save"></em></button>
    </div>
  </div>
</div>

<div class="offcanvas-backdrop fade show" *ngIf="showCamvasPrimario"></div>
