<h3>Reasignacion de lider</h3>
<hr>
<div class="card" *ngIf="!mostrarLider">
    <div class="card-body row">
        <div class="col-sm-3">
            <label for="contrato" class="form-label">No. contrato</label>
            <input type="text" class="form-control" id="contrato" placeholder="SG0909">
        </div>
        <div class="col-sm-3">
            <label for="consulta" class="form-label">Consultora</label>
            <input type="text" class="form-control" id="consulta" placeholder="ultra">
        </div>
        <div class="col-sm-3">
            <label for="consulta" class="form-label">Lider</label>
            <input type="text" class="form-control" id="consulta" placeholder="ultra">
        </div>
         <div class="col-sm-3">
            <button type="button" class="btn btn-principal" style="margin-top: 26px;">Buscar</button>
        </div>
    </div>
</div>

<div class="card"  style="margin-top: 10px;" *ngIf="!mostrarLider">
  <div class="card-body row">
    <app-paginador (cambio)="obtenerEvento($event)" [datos]="datos1"></app-paginador>
    <div class="col-sm-12">
        <table class="table table-hover">
            <thead>
              <tr class="valoresCentrados">
                <th scope="col" class="valoresCentrados">No. Contrato</th>
                <th scope="col" class="valoresCentrados">Liber tecnico</th>
                <th scope="col" class="valoresCentrados">Total integrantes</th>
                <th scope="col" class="valoresCentrados">Estatus</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let dato of datos1;let i = index"  style="cursor: pointer;"  class="valoresCentrados" (click)="mostrarSeccionLider(false, dato)">
                <td>{{dato.no_contrato}}</td>
                <td>{{dato.lider_texnico}}</td>
                <td>{{dato.total_integrantes}}</td>
                <td>Activo</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>

<div class="row" *ngIf="mostrarLider || mostrarConsultores">
  <div [ngClass]="(mostrarLider && !mostrarConsultores)? 'col-sm-8' : 'col-sm-12'">
    <div class="card" style="margin-bottom: 10px; margin-top: 10px;">
      <div class="card-body row" style="padding: 5px;">
        <div class="col-sm-3">
            <button style="margin-left: 2px;" class="btn btn-accion" title="atras" (click)="regresarInicio()" *ngIf="mostrarLider && !mostrarConsultores">
            <i class="bi bi-arrow-90deg-left"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="mostrarLider && !mostrarConsultores">
  <div class="col-sm-8">
      <div class="card" style="margin-top: 10px;">
        <div class="card-header">
        </div>
        <div class="card-body row"  [formGroup]="formularioLider">
            <div class="col-sm-12">
              <app-separador-texto [texto]="'Datos del contrato y lider'"></app-separador-texto>
            </div>
            <div class="col-sm-6">
                <label for="Correo" class="form-label">Contrato</label>
                <input type="text" class="form-control" id="consulta" placeholder="" formControlName="no_contrato">
                <!-- <select class="form-select" aria-label="Default select example" formControlName="no_contrato">
                  <option value="">Seleccione  una opción</option>
                  <option value="Agenda de investigacion">ACT-0015-24</option>
                  <option value="Aplicacion movil">CT-0015-23</option>
                  <option value="Apoyo infonavit">CT-0015-22</option>
              </select> -->
            </div>
            <div class="col-sm-12"  *ngIf="!tipoSeleccionLider">
              <hr>
            </div>
            <div class="col-sm-6">
                <label for="Correo" class="form-label">Lider tecnico</label>
                <input type="text" class="form-control" id="consulta" placeholder="" formControlName="lider_texnico">
            </div>
            <div class="col-sm-6" *ngIf="!tipoSeleccionLider">
              <label for="Correo" class="form-label">Nuevo Lider tecnico</label>
              <!-- <input type="text" class="form-control" id="consulta" placeholder="" formControlName="nuevo_lider_texnico"> -->
              <select class="form-select" aria-label="Default select example" formControlName="nuevo_lider_texnico">
                <option value="">Seleccione  una opción</option>
                <option value="Agenda de investigacion">Joel Cuevas Carbajal</option>
                <option value="Aplicacion movil">Verónica Franco Pérez</option>
                <option value="Apoyo infonavit">Francisco de Jesús Vázquez Orendain</option>
            </select>
            </div>
            <div class="col-sm-12"*ngIf="!tipoSeleccionLider">
              <label for="Correo" class="form-label">Observaciones de cambio</label>
              <textarea type="text" class="form-control" formControlName="observaciones"></textarea>
            </div>

        </div>
        <div class="card-footer">
          <div class="text-end" style="margin: 0px; padding: 0px;">
            <button style="margin-left: 2px;" class="btn btn-principal"  title="Guardar" (click)="guardarLider()">
              <i class="bi bi-floppy"></i> Guardar
            </button>
          </div>
        </div>
      </div>
  </div>
</div>





