<h3>Lista de Asistencia</h3>
<hr>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Inicio de Actividades</th>
                <th scope="col">Inicio de Comida</th>
                <th scope="col">Regreso de Comida</th>
                <th scope="col">Termino de Actividades</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>

                </td>
                <td>
                  <div class="row">
                    <div>
                      <button type="button" class="btn btn-outline-danger" *ngIf="dateFlagIA" (click)="asistencia()">Inicio de Actividades</button>
                    </div>
                    <div>
                      <p type="text" class="btn btn-outline-danger" *ngIf="!dateFlagIA">8:55</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div>
                      <button type="button" class="btn btn-outline-danger" *ngIf="dateFlagIA" (click)="asistencia()">Inicio de Actividades</button>
                    </div>
                    <div>
                      <p type="text" class="btn btn-outline-danger" *ngIf="!dateFlagIA">8:55</p>
                    </div>
                  </div>

                </td>
                <td>
                  <div class="row">
                    <div>
                      <button type="button" class="btn btn-outline-danger">Regreso de Comida</button>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div>
                      <button type="button" class="btn btn-outline-danger">Termino de Actividades</button>
                    </div>
                  </div>
              </tr>
              <tr>
                <td>

                </td>
                <td>
                  <div class="row">
                    <div>
                      <button type="button" class="btn btn-outline-danger" *ngIf="dateFlagIA" (click)="asistencia()">Inicio de Actividades</button>
                    </div>
                    <div>
                      <p type="text" class="btn btn-outline-danger" *ngIf="!dateFlagIA">8:55</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div>
                      <button type="button" class="btn btn-outline-danger" *ngIf="dateFlagIA" (click)="asistencia()">Inicio de Actividades</button>
                    </div>
                    <div>
                      <p type="text" class="btn btn-outline-danger" *ngIf="!dateFlagIA">8:55</p>
                    </div>
                  </div>

                </td>
                <td>
                  <div class="row">
                    <div>
                      <button type="button" class="btn btn-outline-danger">Regreso de Comida</button>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div>
                      <button type="button" class="btn btn-outline-danger">Termino de Actividades</button>
                    </div>
                  </div>
              </tr>
              <tr>
                <td>

                </td>
                <td>
                  <div class="row">
                    <div>
                      <button type="button" class="btn btn-outline-danger" *ngIf="dateFlagIA" (click)="asistencia()">Inicio de Actividades</button>
                    </div>
                    <div>
                      <p type="text" class="btn btn-outline-danger" *ngIf="!dateFlagIA">8:55</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div>
                      <button type="button" class="btn btn-outline-danger" *ngIf="dateFlagIA" (click)="asistencia()">Inicio de Actividades</button>
                    </div>
                    <div>
                      <p type="text" class="btn btn-outline-danger" *ngIf="!dateFlagIA">8:55</p>
                    </div>
                  </div>

                </td>
                <td>
                  <div class="row">
                    <div>
                      <button type="button" class="btn btn-outline-danger">Regreso de Comida</button>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div>
                      <button type="button" class="btn btn-outline-danger">Termino de Actividades</button>
                    </div>
                  </div>
              </tr>
              <tr>
                <td>

                </td>
                <td>
                  <div class="row">
                    <div>
                      <button type="button" class="btn btn-outline-danger" *ngIf="dateFlagIA" (click)="asistencia()">Inicio de Actividades</button>
                    </div>
                    <div>
                      <p type="text" class="btn btn-outline-danger" *ngIf="!dateFlagIA">8:55</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div>
                      <button type="button" class="btn btn-outline-danger" *ngIf="dateFlagIA" (click)="asistencia()">Inicio de Actividades</button>
                    </div>
                    <div>
                      <p type="text" class="btn btn-outline-danger" *ngIf="!dateFlagIA">8:55</p>
                    </div>
                  </div>

                </td>
                <td>
                  <div class="row">
                    <div>
                      <button type="button" class="btn btn-outline-danger">Regreso de Comida</button>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div>
                      <button type="button" class="btn btn-outline-danger">Termino de Actividades</button>
                    </div>
                  </div>
              </tr>
              <tr>
                <td>

                </td>
                <td>
                  <div class="row">
                    <div>
                      <button type="button" class="btn btn-outline-danger" *ngIf="dateFlagIA" (click)="asistencia()">Inicio de Actividades</button>
                    </div>
                    <div>
                      <p type="text" class="btn btn-outline-danger" *ngIf="!dateFlagIA">8:55</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div>
                      <button type="button" class="btn btn-outline-danger" *ngIf="dateFlagIA" (click)="asistencia()">Inicio de Actividades</button>
                    </div>
                    <div>
                      <p type="text" class="btn btn-outline-danger" *ngIf="!dateFlagIA">8:55</p>
                    </div>
                  </div>

                </td>
                <td>
                  <div class="row">
                    <div>
                      <button type="button" class="btn btn-outline-danger">Regreso de Comida</button>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div>
                      <button type="button" class="btn btn-outline-danger">Termino de Actividades</button>
                    </div>
                  </div>
              </tr>
            </tbody>
          </table>
    </div>


</div>
