.titulo-proyecto {
  font-size: 20px;
  font-weight: bold;
}

.datos-proyecto {
  font-weight: bold;
  margin-right: 4px;
}

.datos {
  display: flex;
}

.btn-realizar-observacion {
  margin-top: 8px;
  width: 100%;
}

.contenedor-observaciones-realizadas {
  border: 2px solid #dee2e6;
  border-radius: 8px;
}

.contenedor-observaciones-por-periodo-lidertecnico {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding-left: 32px;
}

ul {
  padding: 12px;
  margin-top: 0;
  margin-bottom: 0rem !important;
}

.contenedor-textarea-observaciones {
  margin-bottom: 20px;
}

.btn-realizar-observacion-actividad {
  margin-top: 12px;
}

.contenedor-contenido {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.contenido_principal {
  display: flex;
  flex-direction: column;
}

.contenedor-boton-realizar-observacion {
  display: flex;
  justify-content: flex-end;
}
