.errorCalendario {
    color: red;
}

.calendario {
    cursor:pointer;
}

.border-calendario {
    background-color: white;
    /* border: 1px solid #000; */
    padding: 2px;
    border-radius: 3%;
    position: absolute;
    text-align: center;
    max-width: 350px; /* Limita el ancho al contenedor padre */
    width: inherit;  /* Toma el ancho del contenedor padre */
    margin-top: 0px !important;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.contenedor-calendario {
    position: relative;
    display: inline-block;
    padding: 0px !important;
}

.contenido-botones {
    width: 100%;
}


.izquierda-cal {
    width: 10%;
    display: inline-block;
}
  
.derecha-cal {
    width: 10%;
    display: inline-block;
}
  
.izquierda-cal:hover {
    color: red;
    cursor: pointer;
}
  
.derecha-cal:hover {
    color: red;
    cursor: pointer;
}
  
.anios {
    padding: 0px 0px 2px 0px;
    width: 30%;
    display: inline-block;
}

.meses {
    padding: 0px 0px 0px 2px;
    width: 50%;
    display: inline-block;
}

.day-name {
    background: #9d2449;
    color: aliceblue;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 2px;
    padding: 4px;
    text-align: center;
}

.class-ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0;
    padding: 0;
}
  
.class-li {
    font-size: 1.5ch;
}

.day:hover {
    background-color: #d8b133;
    cursor: pointer;
    border-radius: 3px;
  }
  
 .day.activo {
    background-color: rgb(241, 219, 119);
    cursor: pointer;
    border-radius: 3px;
 }