

.nav{
    --bs-nav-link-color: black ;
}

a{
    
}

.nav-link {
    color: black !important;
}
  
.nav-link:hover {
    color: #0e159d !important;
    cursor: pointer;
}

.nav-link.active {
    color: #F80000 !important;
}



.contenedor-boton-guardar button{
    background-color: #F80000;
}

.contenedor-boton-guardar button:hover{
    background-color:white;
    color:  #F80000;
    border-color:  #F80000;
}
table{
    text-align: center;
    vertical-align: middle;
}

.titulo-boton{
    display: flex;
    gap: 8px;
}

.dato{
    margin-bottom: 30px;
}

td{
    cursor: pointer;
}

.contenedor-boton-guardar{
    margin-top: 12px;
    text-align: right;
}

textarea{
    resize: none;
}

.contenedor-periodo{
    display: flex;
    gap: 4px
}

.periodo{
    font-weight: 500;
}

.subtitulo-modal{
    display: flex;
    gap: 8px
}