<div class="titulo-boton">
    <h3>Actividades  </h3>
</div>
<hr>
<div class="card">
    <div class="card-body row">
        <div class="col-sm-3">
            <label for="Correo" class="form-label">Proyecto</label>
            <select class="form-select" [(ngModel)]="selectedProyecto" (change)="filtrarTabla()"  aria-label="Default select example">
                <option selected>Sistema de gestión de bitácoras de fábricas</option>
            </select>
        </div>

        <div class="col-sm-3">
            <label for="Correo" class="form-label">Periodo</label>
            <select class="form-select" [(ngModel)]="selectedPeriodo" (change)="filtrarTabla()" aria-label="Default select example">
                <option selected>Enero</option>
                <option selected>Febrero</option>
            </select>
        </div>

        <div class="col-sm-3" style="margin-top: 29px;">
            <button class="btn btn-principal" [disabled]="isButtonDisabled" (click)="toggleVisibility(); ocultarModal(); mostrarObservaciones();" data-bs-toggle="offcanvas"  data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Observaciones</button>
        </div>
        

        
    </div>
    <div class="card-footer row" style="margin: 0px;">
        <div class="col-sm-3">
            <button type="button" (click)="limpiarInput(); toggleVisibility(); resetDate()"  [disabled]="isButtonDisabled" class="btn btn-principal"  data-bs-toggle="offcanvas"  data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Agregar actividad</button>
        </div>
    </div>
</div>

<div class="col-sm-12" style="margin-bottom: 3px;">
    <ul class="nav nav-underline">
        <li class="nav-item" *ngFor="let item of listadoEstatus">
            <a class="nav-link" aria-current="page">{{item.nombre}}<span class="badge text-bg-light text">{{item.total}}</span></a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">PROYECTO</th>
                    <th scope="col">JIRA o SMAX ASOCIADO / ID INCIDENTE</th>
                    <th scope="col">DESCRIPCIÓN CORTA JIRA o SMAX/ INCIDENTE</th>
                    <th scope="col">HACTIVIDAD ASIGNADA</th>
                    <th scope="col">ACTIVIDAD REALIZADA</th>
                    <th scope="col">HORAS REALIZADAS</th>
                    <th scope="col">FECHA</th>
                </tr>
            </thead>
            
            <tbody>
                <tr class="rows" *ngFor="let actividad of actividadesFiltradas" (click)="valorInput(); aparecerPestanas();" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <td>{{actividad.proyectoExcel}}</td>
                    <td>{{actividad.idIncidente}}</td>
                    <td>{{actividad.descripcionCorta}}</td>
                    <td>{{actividad.actividadAsignada}}</td>
                    <td>{{actividad.actividadRealizada}}</td>
                    <td>{{actividad.horas}}</td>
                    <td>{{actividad.fecha}}</td>
                </tr>
            </tbody> 
        </table>
    </div>
</div>



<div class="offcanvas offcanvas-end canvasPrimario" id="offcanvasRight"  aria-labelledby="offcanvasRightLabel" style="padding: 12px;">
    <div class="offcanvas-header">
        <h3>Detalles</h3>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    
    <div class="offcanvas-body">
        <ul class="nav nav-underline" *ngIf="isVisible">
            <li class="nav-item" *ngFor="let item of pestanas" (click)="cambioSeleccion(item.id)" >
                <a class="nav-link " [class.active]="item.activo" aria-current="page">{{item.nombre}}</a>
            </li>
        </ul>
        <div class="card" *ngIf="cardIsVisible">
            <div class="card-body row" *ngIf="pestanas[0].activo" >
                <div class="col-sm-6 subtitulo-modal">
                    <label class="form-label">Detalles de actividad.</label>
                    <div class="contenedor-periodo">
                        <label class="form-label">Periodo:</label>
                        <label class="form-label periodo">{{periodo}}</label>
                    </div>
                </div>
                
                <div class="col-sm-12">
                    <hr>
                </div>
                
                <div class="col-sm-6">
                    <label for="identificador" class="form-label">Descripción corta JIRA o SMAX/Incidente</label>
                    <input type="text" class="form-control" value="S-1066361" [(ngModel)]="requerimiento" disabled>
                </div>
                <div class="col-sm-6">
                    <label for="nombre" class="form-label">Subdireccion/Generencia</label>
                    <input type="text" class="form-control"  value="Subdirección General de Tecnologías de Información" disabled>
                </div>
                <div class="col-sm-6">
                    <label for="responsable" class="form-label">Líder técnico</label>
                    <input type="text" class="form-control"value="Luis Eduardo Antes Villa" disabled>
                </div>
                <div class="col-sm-6">
                    <label for="lider_tecnico" class="form-label">Responsable</label>
                    <input type="text" class="form-control"  value="Daniel Herrera Figueroa" disabled>
                </div>
                <div class="col-sm-6">  
                    <label for="Correo" class="form-label">Proyecto</label>
                    <input type="text" class="form-control"value="Continuidad operativa" disabled>
                </div>
                <div class="col-sm-6">
                    <label for="Area" class="form-label">Area solicitante</label>
                    <input type="text" class="form-control" value="Dirección informática" disabled>
                </div>
                <div class="col-sm-6">
                    <label for="tipo" class="form-label">Tipo</label>
                    <select class="form-select" aria-label="Default select example" formControlName="tipo_accion">
                        <option value="Administrativo">Administrativo</option>
                        <option value="Apoyo operativo">Apoyo operativo</option>
                        <option value="SMAX">SMAX</option>
                        <option value="Incidente">Incidente</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <label for="moduloAplicativo" class="form-label">Aplicativo/Modulo</label>
                    <select class="form-select" aria-label="Default select example" formControlName="modulo_aplicativo">
                        <option value="Agenda de investigacion">Agenda de investigacion</option>
                        <option value="Aplicacion movil">Aplicacion movil</option>
                        <option value="Apoyo infonavit">Apoyo infonavit</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <label for="actividadAsignada" class="form-label">Actividad asignada</label>
                    <input type="text" class="form-control" value="Revisión de requerimientos"  [(ngModel)]="actividadAsignada" >
                </div>
                <div class="col-sm-6">
                    <label for="horasRequeridas" class="form-label">Horas requeridas</label>
                    <input type="number" class="form-control"  [(ngModel)]="horasRequeridas">
                </div>
                <div class="col-sm-6">
                    <label for="fechaActividad" class="form-label">Fecha de la actividad</label>
                    <input type="date"class="form-control" [(ngModel)]="selectedDate" >
                </div>
                <div class="col-sm-12">
                    <label for="consultoires" class="form-label">Actividad realizada</label>
                    <textarea class="form-control" aria-label="With textarea"  [(ngModel)]="actividadRealizada">Elaboración de prototipos de las pantallas Dar de baja/reasignación y ajustes de componentes del prototipo de la pantalla Contratos</textarea>
                </div>
                <div class="col-sm-6">
                    
                </div>
                <div class="col-sm-12">
                    <label for="formFileMultiple" class="form-label">Evidencia de actividad</label>
                    <input class="form-control" type="file" id="formFileMultiple" multiple>
                </div>

            <div class="contenedor-boton-guardar" *ngIf="pestanas[0].activo"> 
                <button type="button" class="btn btn-principal btn-modal btn-guardar">Guardar</button>
            </div>
            
        </div> 

        <div class="card-body row" *ngIf="pestanas[1].activo">
            <div class="contenedor-observaciones">
                <div class="col-sm-6 subtitulo-modal">
                    <label class="form-label">Observaciones</label>
                </div>
                
                <div class="col-sm-12">
                <hr>
                </div>
                <div>
                    <div class="contenedor-observaciones">
                        <div class="col-sm-12">
                            <li for="identificador" class="form-label">Juan Gutiérrez(13/01/2024): He notado que algunas entradas son bastante esporádicas y faltan detalles importantes, como el contexto o el impacto de las actividades registradas. Esto puede dificultar la comprensión completa de lo que realmente está ocurriendo y hacer que la bitácora sea menos útil para futuras referencias.</li>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>

    </div>
        <div class="card" *ngIf="visualizarObservaciones">
            <div class="card-body row">
                <div class="contenedor-observaciones">
                    <div class="col-sm-6 subtitulo-modal">
                        <label class="form-label">Observaciones</label>
                    </div>
                    
                    <div class="col-sm-12">
                    <hr>
                    </div>
                    <div class="contenedor-observaciones" *ngFor="let observacion of imprimirObservacionesPorPeriodo()">
                        <div class="col-sm-12">
                            <li for="identificador" class="form-label">{{observacion.observaciones}}</li>
                        </div>
                    </div>
                </div>
            </div>               
        </div> 
    </div>
</div>





