

.nav{
    --bs-nav-link-color: black ;
}

a{
    
}

.nav-link {
    color: black !important;
}
  
.nav-link:hover {
    color: #0e159d !important;
    cursor: pointer;
}

.nav-link.active {
    color: #F80000 !important;
}
/* 
.ejecucion{
    --bs-nav-link-hover-color: red;
}

.revision{
    --bs-nav-link-hover-color: orange;
}

.autorizacion{
    --bs-nav-link-hover-color: rgb(128, 255, 0);
}

.finalizado{
    --bs-nav-link-hover-color: green;
}

.rechazado{
    --bs-nav-link-hover-color: rgb(0, 0, 0);
} */

table{
    text-align: center;
    vertical-align: middle;
}

td{
    cursor: pointer;
}
