html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,h2,h3,h4,h5 {
    color: #0e159d;
    font-weight: 650;
}
.contenido_principal {
  margin: 15px 10%;
}


.color_rojo {
  color: #f80000;
}

.color_azul {
  color: #0e159d;
}

.back_color {
  background-color: #f80000;
}

.back_azul {
  background-color: #0e159d;
}

.valoresCentrados {
  text-align: center;
  justify-content: center;
  font-size: 15px;
}

.valoresDerecha {
  text-align: right;
  justify-content: center;
}

.valoresIzquierda {
  text-align: left;
  justify-content: center;
}

.pdt5 {
  padding-top: 5px;
}

.pdt10 {
  padding-top: 10px;
}

.btn-principal {
  background-color: #f80000;
  color: white;
  border-color: white;
  margin-bottom: 1px;
}

.btn-principal:hover {
  background-color: white;
  color: #f80000;
  border-color: #f80000;
}

.btn-principal:active {
  background-color: white;
  color: #f80000;
  border-color: #f80000;
}

.btn-secundario {
  background-color: white;
  color: #f80000;
  border-color: #f80000;
  margin-bottom: 1px;
}

.btn-secundario:hover {
  background-color: #f80000;
  color: white;
  border-color: white;
}

.btn-secundario:active {
  background-color: #f80000;
  color: white;
  border-color: white;
}

.btn-accion {
  background-color: #0e159d;
  color: white;
  border-color: white;
  margin-bottom: 1px;
}

.btn-accion:hover {
  background-color: white;
  color: #0e159d;
  border-color: #0e159d;
}

.btn-accion:active {
  background-color: white;
  color: #0e159d;
  border-color: #0e159d;
}

.btn-accion-sec {
  background-color: white;
  color: #0e159d;
  border-color: #0e159d;
  margin-bottom: 1px;
}

.btn-accion-sec:hover {
  background-color: #0e159d;
  color: white;
  border-color: white;
}

.btn-accion-sec:active {
  background-color: #0e159d;
  color: white;
  border-color: white;
}

label {
  font-weight: bold;
  margin-bottom: 1px !important;
  margin-top: 5px !important;
}

.offcanvas-bajar {
  z-index: 1000;
}

.text-end {
  margin: 5px 10px;
}

/* Estilo del contenedor */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: blue;
}

/* Estilo del texto del tooltip */
.tooltip::after {
  content: attr(
    data-tooltip
  ); /* El texto del tooltip viene del atributo data-tooltip */
  position: absolute;
  left: 50%;
  bottom: 125%; /* Posiciona el tooltip encima */
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

/* Muestra el tooltip al pasar el ratón por encima */
.tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 767px) {
  .scroll-tabla {
    overflow-x: auto;
  }

  .hidden-xs {
    display: none !important;
  }

  .offcanvas.offcanvas-end.canvasPrimario.show {
    width: 85%;
  }

  .offcanvas.offcanvas-end.canvasSecundario.show {
    width: 80%;
  }

  .offcanvas.offcanvas-end.canvasTerciario.show {
    width: 75%;
  }
}

/* Estilos para pantallas medianas */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .offcanvas.offcanvas-end.canvasPrimario.show {
    width: 75%;
  }

  .offcanvas.offcanvas-end.canvasSecundario.show {
    width: 70%;
  }

  .offcanvas.offcanvas-end.canvasTerciario.show {
    width: 65%;
  }
}

/* Estilos para pantallas grandes */
@media screen and (min-width: 1024px) and (max-width: 1535px) {
  .offcanvas.offcanvas-end.canvasPrimario.show {
    width: 60%;
  }

  .offcanvas.offcanvas-end.canvasSecundario.show {
    width: 55%;
  }

  .offcanvas.offcanvas-end.canvasTerciario.show {
    width: 50%;
  }
}

/* Estilos para pantallas extra grandes */
@media screen and (min-width: 1536px) {
  .offcanvas.offcanvas-end.canvasPrimario.show {
    width: 50%;
  }

  .offcanvas.offcanvas-end.canvasSecundario.show {
    width: 45%;
  }

  .offcanvas.offcanvas-end.canvasTerciario.show {
    width: 40%;
  }
}

.card-footer {
  margin: 0px !important;
}

/* .delete {
  color: red!important;
}

.update {
  color: blue!important;
}

.download {
  color: green!important;
} */

.delete:hover {
  color: red !important;
  size: 25px !important;
  background: rgba(253, 100, 100, 0.973);
  background: radial-gradient(
    circle,
    rgba(27, 104, 207, 0.10547969187675066) 0%,
    rgba(27, 104, 207, 0) 100%
  ) !important;
}

.update:hover {
  color: blue !important;
  size: 25px !important;
  background: rgb(27, 104, 207) !important;
  background: radial-gradient(
    circle,
    rgba(27, 104, 207, 0.10547969187675066) 0%,
    rgba(27, 104, 207, 0) 100%
  ) !important;
}

.add:hover {
  color: green !important;
  size: 25px !important;
  background: rgb(52, 165, 50) !important;
  background: radial-gradient(
    circle,
    rgba(30, 135, 29, 0.08867296918767509) 0%,
    rgba(30, 135, 29, 0) 100%
  ) !important;
}
