<h3>Administración de usuarios</h3>
<hr>
<div class="card">
    <div class="card-body row">
        <div class="col-sm-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="manuel">
        </div>
        <div class="col-sm-3">
            <label for="Correo" class="form-label">Correo</label>
            <input type="text" class="form-control" id="Correo" placeholder="manuel@correo.com">
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-principal" (click)="buscar(1)" style="margin-top: 26px;">Buscar</button>
        </div>
    </div>
    <div class="card-footer row" style="margin: 0px;">
        <div class="col-sm-3">
            <button type="button" class="btn btn-secundario" (click)="abrirModal()">Nuevo usuario</button>
        </div>
    </div>
</div>
<div class="row">
    <app-paginador (cambio)="obtenerSolicitudes($event)" [datos]="datosEnviar"></app-paginador>
    <div class="col-sm-12">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col" class="valoresCentrados">Activo</th>
                <th scope="col" class="valoresCentrados">En linea</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let dato of datosEnviar;let i = index"  style="cursor: pointer;"  (click)="abrirModal()">
                <th scope="row">{{i+1}}</th>
                <td>{{dato.nombre}}</td>
                <td>{{dato.correo}}</td>
                <td class="valoresCentrados">{{dato.activo? 'Si': 'NO'}}
                </td>
                <td style="color:green" *ngIf="dato.conectado" class="valoresCentrados"> <i class="bi bi-check-circle"></i> </td>
                <td style="color: red;" *ngIf="!dato.conectado" class="valoresCentrados"> <i class="bi bi-x-circle"></i></td>
              </tr>
            </tbody>
          </table>
    </div>
  

</div>



<div class="offcanvas offcanvas-end canvasPrimario" [class.show]="showCamvasPrimario" id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel" style="padding-left: 10px;">
  <div class="offcanvas-header">
    <h3>{{tituloPrimario}}</h3>
    <button type="button" class="btn btn-principal ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"
      (click)="cerrarCamvasPrimario()"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
  </div>
  <div class="offcanvas-body">
    <div class="card">
        <div class="card-body row">
            <div class="col-sm-6">
                <label for="Correo" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="Correo" placeholder="">
            </div>
            <div class="col-sm-6">
                <label for="Correo" class="form-label">Primer apellido</label>
                <input type="text" class="form-control" id="Correo" placeholder="">
            </div>
            <div class="col-sm-6">
                <label for="Correo" class="form-label">Segundo apellido</label>
                <input type="text" class="form-control" id="Correo" placeholder="">
            </div>
            <div class="col-sm-6">
                <label for="Correo" class="form-label">Usuario/Correo</label>
                <input type="text" class="form-control" id="Correo" placeholder="">
            </div>
         
            <div class="col-sm-6">
                <label for="Correo" class="form-label">Contraseña</label>
                <input type="text" class="form-control" id="Correo" placeholder="">
            </div>
            <div class="col-sm-6">
                <button type="button" class="btn btn-principal" (click)="abrirModal()"  style="margin-top: 30px;">Generar contraseña</button>
            </div>
            <div class="col-sm-12">
              <hr>
            </div>
    
            <div class="col-sm-6">
                <label for="Correo" class="form-label">Seleccione el rol del usuario</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Seleccione  una  opción</option>
                    <option value="1">Gestor de contratos</option>
                    <option value="2">Lider tecnico</option>
                    <option value="3">Responsable</option>
                    <option value="4">Reportes</option>
                    <option value="4">Administrador</option>
                  </select>
            </div>
          
        </div>
        <div class="card-footer row">
            <div class="col-sm-12">
                <label for="Correo" class="form-label">Acceso del usuario al sistema</label>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" [checked]="check" (change)="clickchek()">
                    <label class="form-check-label" for="flexSwitchCheckDefault" style="margin-top: 1px !important;">{{tituloCheck}}</label>
                  </div>
            </div>
        </div>
    </div>
  </div>
  <div class="offcanvas-footer">
    <div class="text-end">
      <button style="margin-left: 2px;" class="btn btn-principal" (click)="guardar()"> Guardar &nbsp;<em
          class="bi bi-save"></em></button>
    </div>
  </div>
</div>

<div class="offcanvas-backdrop fade show" *ngIf="showCamvasPrimario"></div>